doctype html
html
  head
    != newrelic.getBrowserTimingHeader()
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="mainController")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.min.js')
  script(src='/js/bundle.js')

